/* Universal Style */

body {
    margin: 0;
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

/* Body Style */

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    margin-right: 20px;
}